@{
    ViewData["Title"] = "Explore";
}

@model Assignment4.Models.SectorTotals

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Explore Annual Energy Consumption Data</h2>
        </div>
    </div>
    <div class="row justify-content-center pt-3 pb-1">
        <div class="col text-center">
            <a asp-controller="Create" asp-action="Index">Create New Record</a>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="align-middle" scope="col">Sector</th>
                        <th class="align-middle" scope="col">Energy Source</th>
                        <th class="align-middle" scope="col">Total Energy Consumption<br />(trillion BTUs)</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.data)
                    {
                        <tr>
                            <td>
                                @row.Sector
                            </td>
                            <td>
                                @row.Source
                            </td>
                            <td>
                                @row.Value
                            </td>
                            <td>
                                <form asp-controller="Details" asp-action="Index" method="post">
                                    <input type="hidden" name="sector" value="@row.Sector" />
                                    <input type="hidden" name="source" value="@row.Source" />
                                    <button type="submit" class="btn btn-primary btn-sm">Details</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
</div>
