@{
    ViewData["Title"] = "Explore";
}

@model Assignment4.Models.CountyTotals

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Exploring the Population and its types by County</h2>
        </div>
    </div>
    <div class="row justify-content-center pt-3 pb-1">
        <div class="col text-center">
            <a asp-controller="Create" asp-action="Index">Create New Record</a>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-auto">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th class="align-middle" scope="col">County Name</th>
                        <th class="align-middle" scope="col">Population Type</th>
                        <th class="align-middle" scope="col">Population Value</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.data)
                    {
                        <tr>
                            <td>
                                @row.County
                            </td>
                            <td>
                                @row.Population
                            </td>
                            <td>
                                @row.Value
                            </td>
                            <td>
                                <form asp-controller="Changes" asp-action="Index" method="post">
                                    <input type="hidden" name="county" value="@row.County" />
                                    <input type="hidden" name="population" value="@row.Population" />
                                    <button type="submit" class="btn btn-primary btn-sm"><b>Details</b></button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <br />
</div>
