@{
    ViewData["Title"] = "Update";
}

@model Assignment4.Models.UpdateRecord

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Update Record</h2>
        </div>
    </div>

    @if (@Model.origValue != null)
    {
    <div class="row justify-content-center pt-3">
        <div class="col-9">
            <form asp-controller="Update" asp-action="Index" method="post">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label>County<br />(read-only)</label>
                        <input class="form-control" type="text" placeholder="@Model.County" value="@Model.County" name="county" readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Population Type<br />(read-only)</label>
                        <input class="form-control" type="text" placeholder="@Model.Population" value="@Model.Population" name="population" readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Population Value</label>
                        <input class="form-control" type="text" placeholder="@Model.Value" value="" name="valueStr" />
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary text-center">Update</button>
                </div>
            </form>
            <br />
        </div>
    </div>
    }

    @if (@Model.origValue == null)
    {
        <div class="row justify-content-center pt-3">
            <div class="col-9 pb-2 mt-4 mb-2">
                <h2 class="text-center">Record Successfully Updated</h2>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <div class="col-auto">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                County
                            </th>
                            <th>
                                Population Type
                            </th>
                            <th>
                                Population Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(Model => Model.County)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => Model.Population)
                            </td>
                            <td>
                                @Html.DisplayFor(Model => Model.Value)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <p align="center">If you would like to update another record, please return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
        <br />
    }
</div>
