@{
    ViewData["Title"] = "Update";
}

@model Assignment4.Models.UpdateRecord

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Update Record</h2>
        </div>
    </div>

    @if (@Model.origValue != null)
    {
    <div class="row justify-content-center pt-3">
        <div class="col-9">
            <form asp-controller="Update" asp-action="Index" method="post">
                <div class="form-row justify-content-center">
                    <div class="form-group col-md-3">
                        <label>Sector<br />(read-only)</label>
                        <input class="form-control" type="text" placeholder="@Model.Sector" value="@Model.Sector" name="sector" readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Source<br />(read-only)</label>
                        <input class="form-control" type="text" placeholder="@Model.Source" value="@Model.Source" name="source" readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Year<br />(read-only)</label>
                        <input class="form-control" type="text" placeholder="@Model.Year" value="@Model.Year" name="year" readonly />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Energy Consumption (in trillion BTUs)</label>
                        <input class="form-control" type="text" placeholder="@Model.Value" value="" name="valueStr" />
                    </div>
                </div>
                <div class="form-row justify-content-center">
                    <button type="submit" class="btn btn-primary text-center">Update</button>
                </div>
            </form>
            <br />
        </div>
    </div>
    }

    @if (@Model.origValue == null)
    {
        <div class="row justify-content-center pt-3">
            <div class="col-9 pb-2 mt-4 mb-2">
                <h2 class="text-center">Record Successfully Updated</h2>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <div class="col-auto">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                Sector
                            </th>
                            <th>
                                Source
                            </th>
                            <th>
                                Year
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                @Model.Sector
                            </td>
                            <td>
                                @Model.Source
                            </td>
                            <td>
                                @Model.Year
                            </td>
                            <td>
                                @Model.Value
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <br />
        <p align="center">If you would like to update another record, please return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
        <br />
    }
</div>
